<% provide(:title,@event.name) %>
<h3><%= @event.name %></h3>
<h4><%= @event.memo %></h4>
<br>
<% @joins.each do |join|%>
 <%= join.name %>
 <% join.answers.each do |ans| %>
 <% if ans.feeling == "OK" %>
◯
 <% elsif ans.feeling == "Neither"%>
△
 <% elsif ans.feeling == "NG" %>
×
 <% end %>
<% end %>
<br>
<% end %>

  <div class="row">
    <aside class="col-md-4">
      <section class="event_form">
        <%= render 'shared/join_form' %>
      </section>
    </aside>
  </div>


