@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* events */

.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .name {
    margin-top: 5em;
    padding-top: 0;
  }
  .memo {
      display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


#left{float:left;
      width:50%;
      }
 
#right{float:right;
       width:50%;
      }
  
 
 .clearfix:after{
    display:block;
    clear:both;
    content:"";
 }

 .toggle-buttons {
  display: flex;
}

.toggle-buttons.vertical {
  flex-direction: column;
}

.toggle-buttons label {
  display: flex;
  position: relative;
}

.toggle-buttons [type=radio],
.toggle-buttons [type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* appearance: none; for IE11 */
_:-ms-lang(x)::-ms-backdrop, .toggle-buttons [type=radio],
_:-ms-lang(x)::-ms-backdrop, .toggle-buttons [type=checkbox] {
  visibility: hidden;
}

.toggle-buttons .button_ {
  z-index: 1;
}

.toggle-buttons.vertical .button_ {
  width: 100%;
}

.toggle-buttons:not(.vertical) :not(:first-child) .button_{
  border-left: 1px solid #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toggle-buttons:not(.vertical) :not(:last-child) .button_ {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-buttons.vertical :not(:first-child) .button_ {
  border-top: 1px solid #ffc778;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.toggle-buttons.vertical :not(:last-child) .button_ {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-buttons :checked + .button_ {
  background-color: #17A2B8;
}

.toggle-buttons :disabled + .button_ {
  cursor: not-allowed;
  opacity: .6;
  color: #def;
}

.button_ {
  display: inline-block;
  padding: .21em 3em;
  border-radius: 4px;
  text-align: center;
  color: #eff;
  background-color: #678;
  cursor: pointer;
  font-weight: bold;
}

.button_:hover {
    background-color: #ffc778;
}

.button_:disabled {
  cursor: not-allowed;
  opacity: .6;
  color: #def;
}

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color:  #a6d3c8;
    border: solid 2px  #a6d3c8;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background:  #a6d3c8;
    color: white;
}

.checkbox01-input{
    display: none;
    color:#555555;
}
.checkbox01-parts{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
  color:#555555;
}
.checkbox01-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts{
  color: #a6d3c8;
}
.checkbox01-input:checked + .checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #a6d3c8;
  border-right: 3px solid #a6d3c8;
}
th{
    border:solid 1px #aaaaaa;
    word-wrap: break-word; /* IE11逕ｨ */
    overflow-wrap: break-word;
    color: #555555;
    background: #EEEEEE;
}

td{
    border:solid 1px #aaaaaa;
    word-wrap: break-word; /* IE11逕ｨ */
    overflow-wrap: break-word;
    color: #555555;
}

table {
    text-align: center;
    width:100%;
    table-layout: fixed;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}


